body{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
a{color:#666;}
#table{margin:0 auto;background:#845;box-shadow: 5px 5px 5px #888888;border-radius:20px;color:#CCC;padding:50px;}
#table1{margin:0 auto;}